.ItemCard {
  width: 100%;
  position: relative;
  height: 328px;
}

.ItemCard__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
  max-width: 328px;
}

.ItemCard__header {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  position: absolute;
  top: 0;
  left: 120px;
}

.ItemCard__name {
  /* position: absolute; */
  /* top: 0; */
  /* left: 140px; */
  /* margin-top: 18px; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.ItemCard__like-button {
  background-color: rgba(0, 0, 0, 0);
  align-self: center;
  width: 18px;
  height: 15px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ItemCard__like-button_inactive {
  background-image: url("../../images/like-inactive.svg");
  /* background-color: rgba(0, 0, 0, 0);
  align-self: center;
  width: 18px;
  height: 15px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.ItemCard__like-button_active {
  background-image: url("../../images/like-active.svg");
  /* background-color: rgba(0, 0, 0, 0);
  align-self: center;
  width: 18px;
  height: 15px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.ItemCard__like-button:hover {
  cursor: pointer;
}
