.ItemCard {
  width: 100%;
  position: relative;
}

.ItemCard__image {
  width: 100%;
  border-radius: 20px;
}

.ItemCard__name {
  position: absolute;
  top: 0;
  left: 140px;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.ItemCard__like-button {
  background-image: url('../../images/like-inactive.svg');
  position: absolute;
  top: 22px;
  left: 200px;
  width: 18px;
  height: 15px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ItemCard__like-button:hover {
  cursor: pointer;
}