.card-items__message {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.card-items {
  padding: none;
}

.card-items__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
}

.item {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  overflow: hidden;
  width: calc(100% * 0.25);
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  flex-grow: 1;
  display: inline-block;
}

/* .card-items__list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
gap: 0px;
}

.item {
  width: 25%;
  box-sizing: border-box;
} */