.Main {
  outline: 1px solid red;
}

.clothes__message {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 34px 0;
}

.clothes {
  outline: 1px solid red;
  line-height: 1.2;
}

.clothes__flex-container {
  outline: 1px solid green;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.clothes__item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  width: 325px;
  height: 328px;
  flex-shrink: 0;
  /* position: relative; */
  background-color: #E9E9E9;
  border-radius: 20px;
  /* display: inline-block; */
}