.clothes__message {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 34px 0;
}

.clothes {
  line-height: 1.2;
}

.clothes__flex-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.clothes__item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 325px;
  height: 328px;
  flex-shrink: 0;
  /* background-color: #E9E9E9; */
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 16px;
}