.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.2;
  margin-bottom: 28px;
}

.logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date {
  font-weight: 700;
  font-size: 20px;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__button-username {
  margin-right: 12px;
  display: flex;
  gap: 20px;
}

.header__add-clothes {
  font-family: 'FamiljenGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
  border: none;
}

.header__add-clothes:hover {
  cursor: pointer;
}

.header__username {
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
}

.header__avatar-container {
  width: 40px;
  height: 40px;
}

.avatar {
  width: 100%;
}