.placeholder {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
  padding: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
