.ItemModal {
  box-sizing: border-box;
}

.ItemModal__content {
  padding: 0 0 32px;
  max-height: 610px;
  position: relative;
}

.ItemModal__close-button {
  background-image: url('../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 20px;
  right: 28px;
}

.ItemModal__close-button:hover {
  cursor: pointer;
}

.ItemModal__image {
  width: 100%;
  max-height: 494px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.ItemModal__item-name {
  margin: 0 0 0 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.ItemModal__weather-type {
  margin: 12px 0 0 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.ItemModal__delete {
  position: absolute;
  right: 32px;
  bottom: 68px;
  color: #FF4D00;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  border: none;
}

.ItemModal__delete:hover {
  cursor: pointer;
}