.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__profile-info {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}

.sidebar__avatar-container {
  width: 56px;
  height: 56px;
}

.avatar {
  width: 100%;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
}

.sidebar__edit-profile-button {
  border: none;
  margin-top: 24px;
  padding: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #f3f3f3;
  text-align: start;
}

.sidebar__edit-profile-button:hover {
  cursor: pointer;
}

.sidebar__log-out {
  border: none;
  margin-top: 8px;
  padding: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #f3f3f3;
  text-align: start;
}

.sidebar__log-out:hover {
  cursor: pointer;
}
