@font-face {
  font-family: 'FamiljenGrotesk';
  src: url('../src/fonts/FamiljenGrotesk-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'FamiljenGrotesk';
  src: url('../src/fonts/FamiljenGrotesk-Bold.woff') format('woff');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'FamiljenGrotesk', sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
