.input-field {
  margin-top: 24px;
}

.input-field__label {
  display: block;
  font-weight: 700;
  line-height: 1.25;
}

.input-field__input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.button-container {
  margin-top: 32px;
  display: flex;
  column-gap: 12px;
}

.button-container__login {
  border-radius: 4px;
  background-color: #000;
  color: #FFF;
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  line-height: 1.25;
}

.button-container__login:hover {
  cursor: pointer;
}

.button-container__register {
  border: none;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.50);
  background-color: #FFF;
}

.button-container__register:hover {
  cursor: pointer;
}